################################
# Build Outputs
################################

# Binary executables
*.exe
*.dll
*.so
*.dylib

# Static libraries
*.a
*.lib

# Object files and intermediates
*.o
*.obj
/version.h

# Dear ImGui artifacts
[iI]mgui.ini

# Build directories
/[bB]uild*/
/[bB]in*/
/[dD]ist*/


################################
# Development Environments
################################

# Visual Studio and VSCode
/.vs/
/.vscode/
/*.sln
/*.vcxproj*
/*.suo
/*.user

# JetBrains IDEs
/.idea/
/*.code-workspace


################################
# System/Temporary Files
################################

# MSYS2 environment (MinGW)
/[Cc]/msys64/

# Logs and debug files
*.log

# Editor/OS temporary files
*.tmp
*.bak
*.swp
*~
